<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="~{layout :: link-css}"></th:block>
  <title>LIST PRODUCT</title>
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>
<div class="container">
  <form class="form-inline d-flex" th:action="@{/products/search}" method="get">
    <input class="form-control flex-grow-1" type="search" name="searchText" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success flex-grow-1" type="submit">Search</button>
  </form>
  <h1 th:text="${title}"></h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Image</th>
      <th>Price</th>
      <th>Category</th>
      <th sec:authorize="hasAnyAuthority('ADMIN')">Action</th>
    </tr>
    <tr th:each="product: ${list}">
      <td th:text="${product.id}"></td>
      <td th:text="${product.name}"></td>
      <td>
        <img height="120" width="150" th:src="@{/images/} + ${product.image}"/>
      </td>
      <td th:text="${product.price}"></td>
      <td th:text="${product.category.name}"></td>
      <td sec:authorize="hasAnyAuthority('ADMIN')">
        <a th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a>
        <a th:href="@{/products/delete/{id}(id=${product.id})}" onclick="return confirm('Are you sure about that?')">Delete</a>
      </td>
      <td>
        <form sec:authorize="hasAnyAuthority('USER')" th:action="@{/products/add-to-cart}" method="post" class="d-inline">
          <input type="hidden" name="id" th:value="${product.id}">
          <input type="hidden" name="name" th:value="${product.name}">
          <input type="hidden" name="image" th:value="${product.image}">
          <input type="hidden" name="price" th:value="${product.price}">
          <button type="submit" class="fas fa-shopping-cart add-to-cart-button" onclick="return confirm('Are you sure you want to add this book to cart?')"> ADD CART</button>
        </form>
      </td>
    </tr>
  </table>
</div>

<th:block th:replace="~{layout::footer}"></th:block>

</body>
</html>